nav {
  display: flex;
  justify-content: space-between;
  font-family: "Roboto";
  padding: 20px 40px;
  align-items: center;
}

.links {
  display: flex;
  gap: 35px;
  font-weight: 500;
  font-size: 18px;
  color: #2e2e2e;
}
.service {
  text-decoration-color: #4eb9e3;
  text-decoration-thickness: 2px;
  color: black;
}
.post {
  text-decoration: none;
  color: black;
}
.programs {
  text-decoration: none;
  color: black;
}
.pricing {
  text-decoration: none;
  color: black;
}
.login {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  color: #4196b8;
}
.signup {
  text-decoration: none;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  color: #4196b8;
}
.logs {
  display: flex;
  gap: 20px;
  /* text-decoration: none; */
}
.postinol {
  display: flex;
  gap: 30px;
}
@media (max-width: 768px) {
  .postinol {
    display: flex;
    gap: 2px;
    flex-direction: column;
  }
  .logs {
    display: flex;
    gap: 2px;
    flex-direction: column;
  }
}
@media (max-width: 600px) {
  nav {
    padding: 20px 15px;
  }
  .links {
    gap: 20px;
  }
}
